@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 9.6% 14.1%;
    --foreground: 210 20% 98%;
    --card: 220 9.6% 18%;
    --card-foreground: 210 20% 98%;
    --popover: 220 9.6% 18%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220 9.6% 14.1%;
    --secondary: 220 9.6% 18%;
    --secondary-foreground: 210 20% 98%;
    --muted: 220 9.6% 18%;
    --muted-foreground: 210 20% 70%;
    --accent: 210 20% 25%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 210 20% 25%;
    --input: 210 20% 25%;
    --ring: 210 20% 98%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 9.6% 14.1%;
    --foreground: 210 20% 98%;
    --card: 220 9.6% 18%;
    --card-foreground: 210 20% 98%;
    --popover: 220 9.6% 18%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220 9.6% 14.1%;
    --secondary: 220 9.6% 18%;
    --secondary-foreground: 210 20% 98%;
    --muted: 220 9.6% 18%;
    --muted-foreground: 210 20% 70%;
    --accent: 210 20% 25%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 25%;
    --input: 210 20% 25%;
    --ring: 210 20% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}
